.todos {
  padding: 1rem;


  svg {
    display: block;
    pointer-events: none;
  }




  .button {
    &:hover {
      color: #2d64ac;
    }

    a {
      &:hover {
        color: #2d64ac;
      }
      color: inherit;
      transition: color .5s ease;
    }

    color:inherit;
    transition: color .5s ease;
    cursor: pointer;
    margin: 1rem 0;
  }

  .todos_bar {
    font-size: 2rem;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
  }




  .todos_desktop {
    margin-top: 1rem;
    background-color: #f3dab4;
    padding: 1rem;
    border-radius: 10px;
    min-height: 60vh;
  }



  // *** Components 
  .Component-input {
    background-color: #00000027;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: fixed;
    display: grid;
    place-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;


    .box {
      background-color: #763ab9;
      color: #fff;
      padding: 2rem 4rem;
      width: 60%;
      max-width: 20rem;
      height: auto;
      border-radius: 10px;

      .text-input {
        height: 2rem;
        width: 100%;

        margin: 1rem 0;
        outline: none;
        border: none;
        border-radius: 15px;
        padding: .5rem .7rem;
        background-color: #111822;
        color: #fff;
        font-family: "open sans";

        ::placeholder {
          color: #fff;
        }
      }


      .box-inputs {
        display: flex;
        justify-content: space-around;



        input {
          &:hover {
            background-color: #2d64ac;
          }

          height: 2.5rem;
          width: auto;
          background-color: #3879ce;
          transition: background-color .5s ease;
          cursor: pointer;
          color: #fff;
          border: none;
          border-radius: 15px;
          padding: .5rem 2rem;
        }

      }




    }


  }




  .Component-task {

    display: flex;
    justify-content: space-between;
    margin: .8rem 0;
    background-color: #a15e49;
    padding: .5rem .7rem;
    border-radius: 20px;
    color: #fff;

    span {
      margin: 1rem 0;
    }



    .Component-task_inputs {
      display: flex;
      font-size: 2rem;

      button {
        &:hover {
          cursor: pointer;
          background-color: #605a7c;
        }


        border: none;
        background-color: #49416D;
        color: #fff;
        padding: 0 1rem;
        margin: .5rem;
        border-radius: 2rem;
        font-size: 1.5rem;

        transition: background-color .5s ease;
      }

    }
  }

}

.hide {
  display: none;
}

.button-card {
  display: none;
}