.header {
    display: flex;
    margin: .5rem 0;
    
    img {
        width: 5rem;
        height: auto;
        -o-object-fit: cover;
           object-fit: cover;
        aspect-ratio: 1 / 1;
    }
}