.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: .5rem 0;
    margin: 0 0 .5rem 0;
    background-color: #fff;    
    img {
        width: 4rem;
        height: auto;
        border-radius: 50%;
        -o-object-fit: cover;
           object-fit: cover;
        aspect-ratio: 1 / 1;
    }
}