.holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    svg {
        font-size: 25px;
    }
}

.tasks {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 10px;
    justify-content: center;
    align-items: center;
}