.tasksmenu {
    background-color: #eee;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    margin: 0 1rem;
    svg {
        font-size: 30px;
        cursor: pointer;
    }
}