.tasksmenu {
    background-color: #BA6E6E;
    stroke: #fff;
    border-radius: 10px;
    max-width: 10rem;
    display: block;
    margin: 0 auto;
    padding: 1rem;
    margin: 0 1rem;

    svg {
        font-size: 30px;
        cursor: pointer;
    }
}