/* Simple Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #caa780;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color:inherit;
  margin:1rem 0;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
}

#todoapp {
  max-width: 768px;
}

@media screen and (min-width: 768px) {
  #root {
    grid-template-columns: repeat(3, 1fr);
  }
  #todoapp {
    min-width: 768px;
    max-width: 850px;
    grid-column-start: 2;
  }
}