@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-size: 16px;
    line-height: 1.4;
    font-family: "Open Sans",sans-serif;
    margin: 0;
    padding: 0;
    white-space: normal;
    word-wrap: break-all;
}

html {
    scroll-behavior: smooth;
}